* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  /* background-color: red; */
  padding: 15px;
}

#calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  /* background-color: lightgreen; */
  flex-wrap: wrap;
  height: 80vh;
}

.box {
  width: 80%;
  margin: auto;
}

.entry {
  /* background: yellow; */
  /* border: 2px solid black; */
  width: calc(100% / 8);
  padding: 30px;
}

.red {
  color: red;
}

.right:hover,
.left:hover {
  cursor: pointer;
}
